/* CSS */

.canvasStyle{
    border: 1px solid #000;
}

.padding-15{
    padding: 15px;
}

#tblRecords{
    border-collapse: collapse;
}


/* this part is showing error on padding and text align*/
#tblRecords th, #tblRecord td{
    border: solid #cccccc;
    padding: 10px;
    text-align: center;
}

#tblRecords th{
    background-color: #555;
    color: white;
}